@model RelieveLand.Models.ReviewEstablishmentViewModel

@{
    ViewBag.Title = Html.DisplayFor(model => model.EstablishmentModel.EstName);
}

<h2>@Html.DisplayFor(model => model.EstablishmentModel.EstName)</h2>
<h4>@Html.DisplayFor(model => model.EstablishmentModel.EstAddress) @Html.DisplayFor(model => model.EstablishmentModel.ZipCode)</h4>
<h4>@Html.DisplayFor(model => model.EstablishmentModel.BoroughPrimary)@if (Model.EstablishmentModel.BoroughSecondary != null) {@ViewBag.SecondaryBoroughAdd @Html.DisplayFor(model => model.EstablishmentModel.BoroughSecondary)}</h4>

<div>
    <hr />
    @{
        List<object> ReviewList = new List<object> { };

        foreach (var item in Model.ReviewModel)
        {
            ReviewList.Add(item);
        }
        //ReviewList.Sort(Model.ReviewModel.)

            }



    @*<dl class="dl-horizontal">*@
        @*<dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.EstName)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.EstablishmentModel.EstName)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.EstImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.EstImage)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.EstAddress)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.EstablishmentModel.EstAddress)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.BoroughPrimary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.BoroughPrimary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.BoroughSecondary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.BoroughSecondary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.HoursOfOper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.HoursOfOper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.SingleStall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.SingleStall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.HandDryer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.HandDryer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.ChangingStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.ChangingStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.PurchaseNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.PurchaseNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.HandicapStall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.HandicapStall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.HygieneProducts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.HygieneProducts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.FamilyRestroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.FamilyRestroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.Extras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.Extras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.OverallAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.OverallAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.OdorAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.OdorAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentModel.AppearAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentModel.AppearAvg)
        </dd>

    </dl>*@
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstablishmentModel.EstID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
